# https://console.cloud.google.com/auth/clients で「OAuth 2.0 クライアント」を作成して取得
PIGEON_GOOGLE_CLIENT_ID_DESKTOP=
PIGEON_GOOGLE_CLIENT_SECRET_DESKTOP=
PIGEON_GOOGLE_CLIENT_ID_IOS=
PIGEON_GOOGLE_CLIENT_SECRET_IOS=
